.parent {
  background-color: red;
  height: 400px;
  display: flex;
  /* justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  justify-content: end; */
  /* align-items: center; */

  /* flex-direction: column; */
  /* flex-direction: row-reverse;
  flex-direction: column-reverse; */
  /* justify-content: center;
  align-items: center; */
  /* align-items: end; */

  flex-wrap: wrap;
}

.child {
  background-color: blue;
  height: 100px;
  width: 100px;
  color: black;
  font-size: 30px;
  margin: 10px;
}

/* .second {
  order: -1;
}

.first {
  order: 2;
} */
